@import "vars";
@import "fonts";
@import "blocks/header";

html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   min-width: 320px;
   overflow-x: hidden; //!!!
   /* position: relative;*/
   color: #fff;
   font-family: "Roboto-Regular", "Arial", "sans-serif";
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
}

.container {
   max-width: 1270px;
   padding: 0 15px;
   margin: 0 auto;
}

.page-section {
   min-height: 100vh; 
   background-image: url(../images/bg.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   position: relative;
   padding: 74px 0 50px;
}

.title {}

.scroll__btn {
   padding: 0 13px 40px;
   text-align: center;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
}